---
- name: Install enhancement dependencies
  apt:
    name:
      - python3-pip
      - htop
      - vnstat
      - openvpn
      - logrotate
      - cron
    state: present
  become: true

- name: Create custom blocklist directory
  file:
    path: /etc/pihole/custom-blocklists
    state: directory
  become: true

- name: Copy custom blocklist script
  copy:
    src: custom_blocklist_manager.sh
    dest: /usr/local/bin/custom_blocklist_manager.sh
    mode: '0755'
  become: true

- name: Copy performance monitoring script
  copy:
    src: performance_monitor.sh
    dest: /usr/local/bin/performance_monitor.sh
    mode: '0755'
  become: true

- name: Copy auto update script
  copy:
    src: auto_update.sh
    dest: /usr/local/bin/auto_update.sh
    mode: '0755'
  become: true

- name: Copy backup script
  copy:
    src: backup_restore.sh
    dest: /usr/local/bin/backup_restore.sh
    mode: '0755'
  become: true

- name: Copy network analyzer script
  copy:
    src: network_analyzer.sh
    dest: /usr/local/bin/network_analyzer.sh
    mode: '0755'
  become: true

- name: Copy IoT isolation script
  copy:
    src: iot_isolation.sh
    dest: /usr/local/bin/iot_isolation.sh
    mode: '0755'
  become: true

- name: Copy VPN integration script
  copy:
    src: vpn_integration.sh
    dest: /usr/local/bin/vpn_integration.sh
    mode: '0755'
  become: true

- name: Copy log analysis script
  copy:
    src: log_analysis.sh
    dest: /usr/local/bin/log_analysis.sh
    mode: '0755'
  become: yes

- name: Copy local DNS management script
  copy:
    src: ../../../scripts/local_dns.sh
    dest: /usr/local/bin/local_dns.sh
    mode: '0755'
  become: true

- name: Set up cron jobs for enhancements
  cron:
    name: "{{ item.name }}"
    minute: "{{ item.minute }}"
    hour: "{{ item.hour }}"
    job: "{{ item.job }}"
    user: root
  loop:
    - name: "Performance monitoring"
      minute: "*/5"
      hour: "*"
      job: "/usr/local/bin/performance_monitor.sh"
    - name: "Auto update"
      minute: "0"
      hour: "2"
      job: "/usr/local/bin/auto_update.sh"
    - name: "Backup"
      minute: "0"
      hour: "3"
      job: "/usr/local/bin/backup_restore.sh backup"
  become: true

- name: Configure logrotate for Pi-hole logs
  template:
    src: pihole_logrotate.j2
    dest: /etc/logrotate.d/pihole
  become: yes