---
- name: Ensure apache2-utils installed for htpasswd
  apt:
    name: apache2-utils
    state: present
  become: true

- name: Create htpasswd file
  command: htpasswd -b -c /etc/nginx/.htpasswd {{ htpasswd_user }} "{{ htpasswd_password }}"
  when: htpasswd_enabled and htpasswd_password != ''
  args:
    creates: /etc/nginx/.htpasswd
  become: true
