---
- name: Install required packages
  apt:
    name:
      - curl
      - wget
      - git
      - ufw
      - iptables
      - systemd
    state: present
  become: yes

- name: Install Pi-hole
  shell: curl -sSL https://install.pi-hole.net | bash /dev/stdin --unattended
  args:
    creates: /etc/pihole
  become: yes

- name: Set Pi-hole admin password
  command: pihole -a -p "{{ pihole_admin_password }}"
  become: yes

- name: Configure Pi-hole upstream DNS
  lineinfile:
    path: /etc/pihole/setupVars.conf
    regexp: '^PIHOLE_DNS_1='
    line: 'PIHOLE_DNS_1=1.1.1.1'
  become: yes

- name: Configure Pi-hole upstream DNS 2
  lineinfile:
    path: /etc/pihole/setupVars.conf
    regexp: '^PIHOLE_DNS_2='
    line: 'PIHOLE_DNS_2=8.8.8.8'
  become: yes

- name: Enable Pi-hole web interface
  command: pihole -a -l
  become: yes

- name: Configure firewall
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - 22
    - 53
    - 80
    - 443
  become: yes

- name: Set default firewall policy
  ufw:
    state: enabled
    policy: deny
  become: yes

- name: Create systemd service for Pi-hole
  template:
    src: pihole.service.j2
    dest: /etc/systemd/system/pihole.service
  become: yes

- name: Enable and start Pi-hole service
  systemd:
    name: pihole
    enabled: yes
    state: started
    daemon_reload: yes
  become: yes