---
- name: Deploy PiHole-NetShield
  hosts: pihole
  become: true
  vars_files:
    - ansible/secrets.yml
  vars:
    pihole_admin_password: "{{ pihole_password }}"
    ansible_user: paul

  roles:
    - pihole
    - enhancements
    - gui

  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
      become: true

  post_tasks:
    - name: Ensure Pi-hole service is running and enabled
      systemd:
        name: pihole-FTL
        state: started
        enabled: yes
      become: true